:root{
    --button-color: #B3001B ;
}

.btn{
    background-color: var(--button-color);
    border: 1px outset black;
    border-radius: 10px;

    color: white;

    filter: brightness(100%);
    transform: scale(1);

    padding: 13px;
    font-size: 17px;

    transition: filter 0.8s, transform 0.8s;
}

.btn:hover{
    filter: brightness(85%);
    transform: scale(1.1);
    cursor: pointer;
    z-index: 99;

    transition: all 0.8s;
}

.btn:active{
    border-style: inset;
    filter: brightness(70%);
    transform: scale(1.05);

    transition: all 0.001s;
    transition: transform 0.2s;
}

#login-btn{
    padding: 10px;
    flex-basis: 8%;
    max-width: 100px;
    margin-right: 2%;
    flex-shrink: 0;
}