input:not([type="submit"]){
    border: transparent;
    border-radius: 7px 0px;

    padding: 4px;
    border-bottom: 2px solid var(--login-header-color);
    border-right: 2px solid var(--login-header-color);

    background-color: var(--login-container-color);
    filter: brightness(109%);
    
}

input[type="submit"]{
    border: 0px;
    border-radius: 15px;

    width: 60%;

    height: 12%;

    align-self: center;

    font-size: 14px;
    
    padding: 0px;
}

input:focus{
    outline: none;
    border: 1px solid var(--login-header-color);

    transition: border 0.3s;
}