:root{
    --login-header-color: #0F997D/*#3C6EA6*/;
    --login-container-color: #d8e2ed;
    --login-submit-color: #B3001B;
}

.login-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 22%;
    min-width: 300px;
    max-width: 500px;

    height: 50%;
    min-height: 300px;

    overflow: hidden;
    box-shadow: 4px 5px rgba(0, 0, 0, 0.548);

    border-radius: 8px;
}

.market-login{
    width: 28%;
    min-width: 400px;
    max-width: 700px;

    height: 70%;
    min-height: 450px;
}

.login-box .login-header{
    text-align: center;
    border-bottom: 1.5px solid black;

    color: white;

    background-color: var(--login-header-color);
}

.login-box form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    flex:5 1 200px;

    background-color: var(--login-container-color);
}

.login-box form .market-picker{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.login-box form .market-picker .input-form{
    flex-grow: 1;
    max-width: 60%;
}

.login-box form .market-picker .input-form input{
    min-width: 50%;
}

.login-box .login-footer{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    padding: 10px 0px 10px 0px;

    font-size: 14px;

    flex-grow: 1;

    background-color: var(--login-container-color);
}

.login-box form .input-form{
    display: flex;
    justify-content: center;
    margin: 0 15px 0 15px;
}

.login-box form .input-form label{
    flex: 1 1 50px;

    max-width: 20%;

    cursor: text;

    text-align: end;
    padding-right: 5px;
}

.login-box .input-form input{
    flex: 5 1 100px;
    margin: 0 10px 0 10px;

    max-width: 50%;

    transition: border-bottom 0.1s, border-right 0.1s;
}