@import "style.css";

:root{
    --table-header-color: #0F997D;
    --table-row-color: #D9C1AA;
}

table{
    border-collapse:collapse;
    overflow:hidden;
    border-radius: 15px;
}

tr{
    background-color: var(--table-row-color);

    transition: all 0.8s;
}

tr:nth-child(n+2){
    border-bottom: 2px solid var(--body-color);
}

tr:hover:not(:first-child){
    background-color: var(--table-row-color);
    filter: brightness(90%);
    cursor: pointer;

    color: var(--table-header-color);

    transition: all 0.8s;
}

tr:active:not(:first-child){
    /*background-color: var(--table-header-color);*/

    filter: brightness(85%);

    cursor: pointer;

    transform: scale(0.95);

    color: rgb(255, 255, 255);

    transition: all 0.01s;
    transition: color 0.1s, transform 0.3s;
}

tr:last-child{
    border-bottom: 3px solid var(--table-header-color);
}

th{
    background-color: var(--table-header-color);
    color: white;
    padding: 10px;
}

td{
    padding: 10px;
}

tr span{
    cursor: text;
}
