:root{
    --header-background-color: #0F997D;
    --container-background-color: #d8e2ed;
    --disabled-input-border-color: #B3001B ;
}

input:not([type="submit"], [type="file"]){
    border: transparent;

    border-bottom: 2px solid var(--header-background-color);
    border-right: 2px solid var(--header-background-color);

    background-color: var(--container-background-color);
    filter: brightness(109%);

    transition: all 0.2s;
}

input:focus:not([type="submit"], [type="file"]){
    border: 1px solid var(--header-background-color);
}

input:disabled{
    filter: brightness(90%);
    border-color: var(--disabled-input-border-color);
}

textarea{
    border: transparent;

    resize: none;

    border-bottom: 2px solid var(--header-background-color);

    background-color: var(--container-background-color);
    filter: brightness(109%);

    border-radius: 7px 0px;

    outline: none;

    font-size: 15px;

    transition: all 0.2s; 
}

textarea:focus{
    border: 1px solid var(--header-background-color);
}